# CakePHP 3

cakephp/vendor/*
cakephp/config/app.php

cakephp/tmp/cache/models/*
cakephp!/tmp/cache/models/empty
cakephp/tmp/cache/persistent/*
cakephp!/tmp/cache/persistent/empty
cakephp/tmp/cache/views/*
cakephp!/tmp/cache/views/empty
cakephp/tmp/sessions/*
cakephp!/tmp/sessions/empty
cakephp/tmp/tests/*
cakephp!/tmp/tests/empty

cakephp/logs/*
!/logs/empty

# CakePHP 2

cakephp/app/tmp/*
cakephp/app/Config/core.php
cakephp/app/Config/database.php
cakephp/vendors/*
/mysql*
